extend layout
block content
  .row.mt-5
    .col-12
      h1 Review Res
  .row
    .col-12.col-md-8
      form(action="/restaurant/"+_id,method='post',role='form')
        .form-group.row
          label.col-12.col-sm-2.col-form-label(for="name") Name
          .col-12.col-sm-10
            input#name.form-control(type="text",name="name").bg-secondary
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="rating") Rating
          .col-12.col-sm-2
            select#rating.form-control.input-sm(name="rating").bg-secondary
              option 5
              option 4
              option 3
              option 2
              option 1
        .form-group.row
          label.col-sm-2.col-form-label(for="review") Review
          .col-sm-10
            textarea#review.form-control(type="text",name="review", rows="5").bg-secondary
        button.btn.btn-primary.float-right(type="submit") Add my review
  .col-12.col-md-4
